@tailwind base;
@tailwind components;
@tailwind utilities;


svg.loader {
    display: block;
    margin: 0 auto;
}
svg.loader path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
}

svg.loader path.path-7 {
    animation-delay: -1s
}
svg.loader path.path-6 {
    animation-delay: -.875s
}
svg.loader path.path-5 {
    animation-delay: -.75s
}
svg.loader path.path-4 {
    animation-delay: -.625s
}
svg.loader path.path-3 {
    animation-delay: -.5s
}
svg.loader path.path-2 {
    animation-delay: -.375s
}
svg.loader path.path-1 {
    animation-delay: -.25s
}
svg.loader path.path-0 {
    animation-delay: -.125s
}


@keyframes pulse {
    0%     { opacity: .1; }
    30%    { opacity: .8; }
    100%   { opacity: .1; }
}