<header class="bg-purple text-white py-20 px-6 lg:py-24 xl:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight sm:text-6xl">{{if
        @loading
        (concat "Loading " @title)
        (concat this.model.league.name " " @title)
      }}
    </h2>
    <p class="mt-6 text-lg leading-8 opacity-70">{{@text}}</p>
  </div>
</header>
<div class="grid grid-cols-38 bg-purple w-full">
  <div class="col-span-24 h-1 bg-cyan"></div>
  <div class="h-1 bg-white"></div>
  <div class="col-span-13 h-1 bg-red"></div>
</div>