<nav label="main" class="px-6 py-2 bg-purple text-white flex justify-between">

  <h1 class="md:text-lg uppercase font-bold">Drafty</h1>
  <ul class="md:text-lg uppercase font-bold flex justify-end gap-6 md:gap-12">
    <li><LinkTo @route="index">Awards</LinkTo></li>
    <li><LinkTo @route="live">Match Day</LinkTo></li>
    {{! <li>Transfers</li> }}
  </ul>
</nav>