<h1 class="text-2xl font-bold uppercase">Lost the Changing Rooms</h1>

<p class="text-opacity-70">Ill discipline is rife in this teams training ground,
  and it's spilling onto the pitch</p>

<table class="w-full">
  <thead>
    <tr class="border-b border-white border-opacity-20">
      <th>Team</th>
      <th class="text-right py-2 text-lg font-bold">Points</th>
    </tr>
  </thead>
  <tbody>
    {{#each @totals as |row index|}}
      <tr
        class="border-b border-white border-opacity-20
          {{if (eq index 0) 'text-lime'}}
          "
      >
        <td class="whitespace-nowrap py-2">
          <div class="text-xl font-bold">{{row.team}}</div>
          <div class="text-sm opacity-70">{{row.manager}}</div>
        </td>
        <td class="text-right py-2 text-2xl font-bold">{{row.total}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>