<h1 class="text-2xl font-bold uppercase">Can't Buy a Goal</h1>

<p class="text-opacity-70">This Teams is struggling to find goals. Their
  starters have scored the least ammount of goals in the leaguge</p>

<table class="w-full">
  <thead>
    <tr class="border-b border-white border-opacity-20">
      <th>Team</th>
      <th class="text-right py-2 text-lg font-bold">Goals</th>
    </tr>
  </thead>
  <tbody>
    {{#each @totals as |row index|}}
      <tr
        class="border-b border-white border-opacity-20
          {{if (eq index 0) 'text-yellow'}}
          "
      >
        <td class="whitespace-nowrap py-2">
          <div class="text-xl font-bold">{{row.team}}</div>
          <div class="text-sm opacity-70">{{row.manager}}</div>
        </td>
        <td class="text-right py-2 text-2xl font-bold">{{row.total}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>