{{page-title "Drafty"}}

{{outlet}}

<footer
  class="w-full bg-purple py-3 px-6 text-center text-white border-t-4 border-cyan"
>
  v{{app-version versionOnly=(is-production true)}}
</footer>

{{#unless (is-production true)}}
  <div
    class="fixed right-4 bottom-4 flex h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white sm:hidden"
  >
    XS
  </div>
  <div
    class="fixed right-4 bottom-4 hidden h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white sm:flex md:hidden"
  >
    SM
  </div>
  <div
    class="fixed right-4 bottom-4 hidden h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white md:flex lg:hidden"
  >
    MD
  </div>
  <div
    class="fixed right-4 bottom-4 hidden h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white lg:flex xl:hidden"
  >
    LG
  </div>
  <div
    class="fixed right-4 bottom-4 hidden h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white xl:flex 2xl:hidden"
  >
    XL
  </div>
  <div
    class="fixed right-4 bottom-4 hidden h-8 w-8 items-center justify-center rounded-full bg-purple text-xs font-bold text-white 2xl:flex"
  >
    2XL
  </div>
{{/unless}}